@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
	box-sizing: border-box;
}
body {  
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

img{
    margin-left: 150px;
}
h2{
    color:#5fbaa7 ;  
    text-align: center; 
    margin-left: 30px;

}
p{
    color: #000;
    text-align: right;
    padding-bottom: 30px;
    font-size: 13px;
    font-weight: bold;
    
}
.currency {
	display: flex;
	align-items: center;
    justify-content: space-between;
    margin-left: 30px;
}
.currency select {
    border: 2;
    border-color: #d3d3d3;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #dcdcdc;
	padding: 5px;
    font-size: 12px;
    font-weight: bold;
   
}
.currency input {
    border: 0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
	background: transparent;
    font-size: 22px;
    font-weight: bold;
    text-align: right;
    
}
.middle {
	display: flex;
	align-items: center;
    justify-content: space-between;
    margin-left: 35px;
}
.middle button {
    border: 0;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
	background:#5fbaa7 ;
    font-size: 11px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    color:#fff;
    cursor: pointer;
}

.middle .rate {
	background-color: transparent;
	border: 2px;
	border-radius: 2px;
    font-size: 12px;
    color:#5fbaa7 ;
	display: flex;
	align-items: center;
    justify-content: flex-end;
    height: 30px;
    width: 150px;
    font-size: 11px;
    font-weight: bold;
	margin: 30px 15px 30px 25px;
}
select:focus, input:focus, button:focus {
	outline: 0;
}