@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(lightpink, white);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    font-family: 'Lato', sans-serif;
}

.music-container {
    position: relative;
    margin-top: 80px;
}

.music-info {
    background-color: rgba(255, 255, 255, 0.5);
    width: 290px;
    height: 60px; 
    border: thistle;
    border-radius: 15px;
    position: absolute;
    top: -50px;
    left: 20px;   
}

h4 {
    margin-top: 5px;
    font-size: 12px;
    margin-bottom: 10px;
}

.progress-container {
    width: 155px;
    height: 3px;
    margin-left: 125px;
    background-color: white;
}

.progress {
    width: 0;
    height: 3px;
    background-color: red;
}

h1 {
    font-size: 25px;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.img-container {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 30px;
    bottom: 15px;
}

.navigation {
    background-color: white;
    display: flex;
    justify-content: flex-end;
    width: 330px;
    height: 70px;
    border: thistle;
    box-shadow: 5px 10px 20px 5px lightpink;
    border-radius: 15px;
}

.action-btn {
    margin: 20px;
    border: transparent;
    background: transparent;
    color: lightgrey;
    cursor: pointer;
}

.action-btn-big {
    font-size: 20px;
}

.action-btn:focus {
    outline: 0;
}

.action-btn:hover {
    color: lightslategray;
}