figure{
    margin-left:200px;
}
#quote{
    text-align:center;
    text-align: justify;
    font-size:22px;
    font-family: 'Pacifico',cursive;
    
}
#time{
    margin-left:240px;
    font-weight: bold;
    font-size: 40px;
    color:#dedede;
}

.first-block{
    width:60%;
    float: left;
    padding:20px;
    margin:20px;
    text-align: center;  
}
table{
    border-top:0.5px solid grey;

}
.col1,.col2{
    border-bottom: 0.5px solid grey;
    text-align: left;
    margin:5px;
    padding:5px;
    font-size:14px;
    font-family: sans-serif; 
}
.col1{
    width:100px;
    text-align: center;
}
.col2{
    background-color:whitesmoke;
}
.second-block{
    width:30%;
    float:left;
    font-size: 12px;
    font-family: sans-serif;
    margin-top: 25px;
    margin-left: 25px;
    
}
#head{
    margin-left:25px;
}
.col3{
    font-size: 13px;
    font-family: sans-serif;
    
}
.col4{
    font-size: 13px;
    text-align: center;
    font-family: sans-serif;
    border-bottom: 0.5px solid grey;
    
}
blockquote{
    text-align: center;
    font-weight: bold;
    font-style: italic;
}
#block{
    float: left;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    margin: 40px;
    border: 1px solid #dedede;
    background-color: #dedede;
    font-family: 'Pacifico',cursive;
    width: 90%;
}
a:link{
    text-decoration: none;
    color:blue;
}
a:hover{
    color:purple;
}

@media screen and ( max-width:800px){
     .first-block, .second-block{
        width:100%;
    }
}

