@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    background-color: rgb(82, 82, 250);
    color: white;
}

h1 {
    text-align: center;
    font-size: 28px;
    
}

.filter-container {
    min-width: 600px;
    max-width: 600px;
    height: 40px;
    cursor: auto;
    color: lightgrey;
    display: flex;
    justify-content: center;
    margin: 30px 300px 0 300px;
}

.filter {
    width:100%;
    height: 100%;
}
.posts-container{
    max-width: 600px;
    margin: 30px 300px;
}
.posts{
    border: 1px solid rgb(57, 57, 255);
    border-radius: 5px;
    background-color:rgb(57, 57, 255) ;
    width: 100%;
    padding: 10px;
    box-shadow:5px 10px 20px rgb(57, 57, 255);
}
.posts p{
    font-size: 13px;
    justify-content: center;
}
.number{
    border: 1px solid white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    background-color: white;
    color: rgb(57, 57, 255);
    position: relative;
    top: 13px;
    right:8px ;
}